*{
    margin: 0;
    padding: 0;
}

body{
    font: 1em 'OCR A', 'sans-serif'; 
}

h2{
    color: #94672f;
    font-weight: bold;
    background-color: #409fcf;
    width: fit-content;
    margin: 10px;
    margin-left: 0;
    font-size: 20px;
    padding: 5px;
}

h2{
    color: #94672f;
}

#intro{
    margin-top: 150px;
}

#profPic{
    margin: 10px;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid black;
    z-index: 1;
}

#title{
    position: absolute;
    top: 40px;
    left: 65px;
    width: fit-content;
    height: fit-content;
    font-size: 2em;
    font-weight: bold;
    color: #94672f;
    background-color: #3b4d63;
    padding: 7px;
    padding-left: 50px;
    border: 2px solid black;
    border-radius: 20px;
    z-index: 0;
}

hr{
    height: 2px;
    background-color: black;
    border-color: black;
    border-width: 0px;
}

.container{
    margin: 15px 0;
    display: flex;
    justify-content: left;
    height: fit-content;
}

.box{
    margin: 0 50px;
}


table th, td{
    width: 200px;
    border-collapse: collapse;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    padding: 5px;
}

.topBanner{
    /* padding: 10px; */
    height: fit-content;
    width: 100%;
    background-color: black;
    opacity: 0.75;
    position: fixed;
    top: 0;
    left: 0;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttonContainer{
    display: flex;
    justify-content: flex-end;
}

.bannerElement{
    margin: 0;
}

.navigateButton{
    height: 140px;
    margin: 0 10px;
    width: 100px;
    color: white;
    background-color: black;
    border-width: 0;
    font-size: 20px;
    font-family:'OCR A';
    font-weight: bold;
}

.navigateButton:hover{
    color: black;
    background-color: white;
}

.firstElement{
    margin-top: 150px;
}

#footer{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: black;
    color: white;
    opacity: 0.75;
    padding: 10px;
}

#tetrisGrid{
    /* background-image: url('Fun Stuff/Grid.png');
    background-size: contain; */
    display: grid;
    background-color: black;
    color: white;
    width: fit-content;
    height: fit-content;
    padding: 2px;
    font-family: pixel-font;
    font-weight: bold;
    border: 2px solid white;
}

@font-face {
    font-family: pixel-font;
    src: url('pixelFont.ttf');
  }


#sideRow{
    padding: 0 10px;
    border-collapse: collapse;
    font-size: 15px;
    background-color: black;
    color: white;
    font-family: pixel-font;
    font-weight: bold;
    border: 2px solid white;
}

#tetris-title{
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: black;
    text-align: center;
    vertical-align: middle;
    padding: 5px 2px 1px 2px;
    justify-content: center;
    margin: 2px 5px;
    font-family: pixel-font;
    border: 1px solid white;
}

.tetris-container{
    display: flex;
    justify-content: left;
    align-items: top;
    width: fit-content;
    color: white;
    font-family: pixel-font;
    font-weight: bold;
    width: fit-content;
    height: fit-content;
}

#piece1, #held-piece{
    /* border: 2px solid white; */
    padding: 10px;
}

#held-piece-sign{
    font-family: pixel-font;
}


.background{
    background: rgb(1,84,123);
    background: radial-gradient(circle at bottom right, rgba(1,84,123,1) 0%, rgba(0,212,255,1) 100%);
    z-index: -1;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    align-items: center;
    justify-content: center;
    display: flex;
}

.container{
    width: 20vw;
    height: 20vw;
    position: relative;
}

#outer-ring{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

#outer-ring > .ring{
    width: 300px;
    background: cyan;
    size: fit-content;
}

.ring{
    width: 300px;
    background: white;
    position: absolute;
    aspect-ratio: 1;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 50%;
    opacity: 0.4;
    mask:
      linear-gradient(#0000 0 0) content-box intersect,
      conic-gradient(#000 var(--a),#0000 0);
    animation: rotate 60s linear infinite;
  }

.ring:nth-child(1){
    --a: 120deg
}
.ring:nth-child(2){
    animation-delay: -24s;
    --a: 100deg
}

.ring:nth-child(3){
    animation-delay: -45s;
    --a: 50deg
}

.ring:nth-child(4){
    animation-delay: -1.5s;
    --a: 87deg
}

.ring:nth-child(5){
    animation-delay: -49s;
    --a: 60deg
}

.ring:nth-child(6){
    animation-delay: -23s;
    --a: 40deg
}

.disk{
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    animation: rotate 20s infinite linear;
}

@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}